
<P>
<p>
Copyright Paul E. Johnson, 2000-2017.
<p>
This material is made available under the terms of the
GNU General Public License as published by the Free
Software Foundation, version 3 or later (at your option).
Others are free to use this material in their projects, 
as long as their source code is made available as well.
</p>
<p>
This software and documentation is distributed in the hope
that it will be useful but WITHOUT ANY WARRANTY; without
even the implied warranty of MERCHANTABILITY or FITNESS
for a particular purpose.  See the GNU General Public
License for more details. <a href="http://www.gnu.org/licenses/">
http://www.gnu.org/licenses</a>
</p>

</body>
</html>

